
@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
body {
    
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

h1 {
    width: 100vw;
    text-align: center;
    margin: 40px 0 0 0;
}

section{
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    
    align-items: center;
}

button {
    font-size: 24px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    color: black;
    border: black solid 2px;
    padding: 10px;
    border-radius: 25px;
    background-color: white;
}

#start {
    box-sizing: border-box;
    padding: 2vh 5vw;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

#control {
    margin: 10px auto 0 auto;
    box-sizing: border-box;
    width: 600px;
    padding: 2vh 5vw;
    min-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: black solid 2px;
    border-radius: 25px;
}

#control div {
    border: black solid 2px;
    width: 100px;
    padding: 20px;
    border-radius: 25px;
    margin: 0 10px;
    text-align: center;
}

#control div p {
    margin: 0;
}

canvas {
    max-width: 800px;
    max-height: 450px;  
}

.win {
    width: 800px;
    height: 450px;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fafafa;
    align-items: center;
    position: absolute;
    opacity: 0;
    cursor: pointer;
   
}
.background-win {
    position: relative;
}
